/*--------------------
Body
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background: -webkit-radial-gradient(ellipse farthest-corner at center top, #dae1f1, #3b5998);
  background: radial-gradient(ellipse farthest-corner at center top, #dae1f1, #3b5998);
  color: #8b9095;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

/*--------------------
Main
--------------------*/
.main {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 640px;
  height: 400px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}
.main h2 {
  color: #525661;
  font-size: 17px;
  box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 28px 0;
  margin: -6px 0 0 0;
}


/*--------------------
Header
--------------------*/
header {
  padding: 30px;
  position: relative;
  height: 70px;
}
header h1 {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #1c222b;
}
header h1 strong {
  background: #2b406e;
  color: #fff;
  display: inline-block;
  border-radius: 30px;
  padding: 6px;
  font-size: 83%;
  line-height: 1;
  position: relative;
  top: -1px;
  left: 2px;
}

/*--------------------
Information
--------------------*/
.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 18px;
  overflow-y: auto;
  height: 250px;
}
.information .inf {
  padding: 10px;
  cursor: pointer;
}
.information .inf .poster {
  width: 100%;
  margin-bottom: 6px;
  border-radius: 4px;
}
.information .inf .poster.active {
  opacity: 0;
}
.information .inf .title {
  color: #525661;
  margin-bottom: 4px;
  font-size: 13px;
  opacity: .8;
}
.information .inf .desc {
  display: none;
}

/*--------------------
Detail
--------------------*/
.detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 37px 30px 30px 255px;
  display: none;
}
.detail::before {
  content: '';
  background: #fff;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
  transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.detail .close {
  position: absolute;
  top: 21px;
  right: 22px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  border: 6px solid #FFF;
  box-sizing: content-box;
  z-index: 10;
}
.detail .poster {
  position: absolute;
  z-index: 2;
  top: -10%;
  left: -6%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s cubic-bezier(0.67, 0.13, 0.1, 0.81);
  transition: all 0.5s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.detail .title,
.detail .info,
.detail .desc,
.detail .close {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
  transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.detail .close {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.detail .title {
  font-size: 35px;
  font-weight: 300;
  color: #525661;
  margin-bottom: 5px;
}
.detail .info {
  font-size: 11px;
  opacity: 0;
  margin-left: 2px;
}
.detail .desc {
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.6;
}
.detail.ready::before {
  opacity: 1;
}
.detail.ready .info {
  opacity: .8;
}
.detail.ready .poster {
  opacity: 1;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}
.detail.ready .title,
.detail.ready .info,
.detail.ready .desc,
.detail.ready .close {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}
.detail.ready .title {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}
.detail.ready .info {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.detail.ready .desc {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

/*--------------------
Button
--------------------*/
.button-div {
  padding: 10px;
  position: relative;
  height: 50px;
}

.button {
  width: 15%;
  height: 100%;
  background: -webkit-linear-gradient(left, #395693, #2b406e);
  background: linear-gradient(90deg, #395693, #2b406e);
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 10px;
  line-height: 1.5;
  text-transform: uppercase;
  z-index: 10;
  outline: none !important;
  cursor: pointer;
  opacity: 1;
  text-align: center;
  top: 5%;
  left: 65%;
  position: relative;
  margin: 0px 3px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
	background: #395693;
}
